.aboutDiv {
  background: whitesmoke;
  height: 757px;
  text-align: none;
  position: relative;
  img{
    //   position: absolute;
    //   left: 0px;
  }
  p {
    // background: #dfe0e2;
    // border: 3px solid #071013;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
  }
  .infoDiv {

    padding: 20px;
  }
}
